extends ../layouts/client-layout.pug

block content
  h2 Vé của tôi

  if tickets.length === 0
    p Không có vé nào được tìm thấy.
  else
    each ticket in tickets
      .ticket
        h3 Mã vé: #{ticket.id}
        p Sự kiện: #{ticket.eventName}
        p Ngày: #{ticket.eventDate}
        p Ghế: #{ticket.seatNumber}
        if ticket.qrCode
          img(src=ticket.qrCode alt="QR Code for Ticket #{ticket.id}")